{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a class="logo">What We Do</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li class="active"><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li ><a href="{{ url_for('elements')  }}">Donate</a></li>
							<li><a href="{{ url_for('apply')  }}">Apply</a></li>

						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/dynamitnonprofit/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<section class="post">
								<header class="major">
									<h1>Learn More About Us</h1>
								</header>

								<!-- Text stuff -->
									<p>In 2012, dynaMIT was founded by MIT students following 3 successful programs under a different name.  dynaMIT is a completely free, week-long science program for economically disadvantaged middle-school students hosted on the MIT campus. Our program focuses on inspiring students to be interested in the Science, Technology, Engineering, and Math (STEM) fields through fun and educational activities, challenges, and projects. We teach critical thinking skills, science and engineering concepts, and design skills!

								<!-- Image -->
									

								<!-- Preformatted Code -->

							</section>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<!--span class="date">April 24, 2017</span-->
										<h2><a>A Typical Day<br />
										</a></h2>
									</header>
									<a class="image fit"><img src="{{ url_for('static', filename='images/typical_day.jpg') }}" alt="" /></a>
									<p>Check out what a regular day during the program looks like!</p>
									<ul class="actions">
										<li><a href="{{ url_for('typical_day') }}" class="button">A Day in dynaMIT!</a></li>
									</ul>
								</article>
								<article>
									<header>
										<!--span class="date">April 22, 2017</span-->
										<h2><a>Outreach<br />
										</a></h2>
									</header>
									<a class="image fit"><img src=" {{ url_for('static', filename='images/outreach.jpg') }}" alt="" /></a>
									<p>Find out how we can visit your school!</p>
									<ul class="actions">
										<li><a href="{{ url_for('outreach')  }}" class="button">Reach Out To Us!</a></li>
									</ul>
								</article>
								<article>
									<header>
										<!--span class="date">April 18, 2017</span-->
										<h2><a >Testimonials<br /></a></h2>
									</header>
									<a  class="image fit"><img src="{{ url_for('static', filename='images/testimonials.jpg') }}" alt="" /></a>
									<p>Hear what parents have to say about dynaMIT!</p>
									<ul class="actions">
										<li><a href="{{ url_for('testimonials')  }}" class="button">Hear From Others!</a></li>
									</ul>
								</article>
								<article>
									<header>
										<!--span class="date">April 14, 2017</span-->
										<h2><a >Sponsors<br /></a></h2>
									</header>
									<a  class="image fit"><img src=" {{ url_for('static', filename='images/sponsors.jpg') }}" alt="" /></a>
									<p>Learn about who help make dynaMIT possible!</p>
									<ul class="actions">
										<li><a href="{{ url_for('sponsors')  }}" class="button">Meet Our Sponsors!</a></li>
									</ul>
								</article>
								<!--article>
									<header>
										<span class="date">April 11, 2017</span>
										<h2><a >Odio magna<br />
										sed consectetur</a></h2>
									</header>
									<a  class="image fit"><img src="images/pic06.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a  class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">April 7, 2017</span>
										<h2><a >Augue lorem<br />
										primis vestibulum</a></h2>
									</header>
									<a  class="image fit"><img src="images/pic07.jpg" alt="" /></a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
										<li><a  class="button">Full Story</a></li>
									</ul>
								</article-->
							</section>

						<!-- Footer -->
							<!--footer>
								<div class="pagination">
									<a  class="previous">Prev</a>
									<a  class="page active">1</a>
									<a  class="page">2</a>
									<a  class="page">3</a>
									<span class="extra">&hellip;</span>
									<a  class="page">8</a>
									<a  class="page">9</a>
									<a  class="page">10</a>
									<a  class="next">Next</a>
								</div>
							</footer-->

					</div>

{% endblock %}
