{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a  class="logo">The People Who Make It Happen</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li  class="active"><a href="{{  url_for('generic')  }}">Board</a></li>
							<li><a href="{{ url_for('elements')  }}">Donate</a></li>

							<li><a href="{{ url_for('apply')  }}">Apply</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a>Meet our Board</a></h2>
								</header>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h2>Nan Tian</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/nan.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 18: Mathematics <br/>
										<b>Year:</b> Class of 2019 <br/>
										<b>Position:</b> Director <br/>
										<b>Hobbies:</b> Traveling, Hiking, Eating, Yoga, Salsa Dancing, Fantasy Football <br/>
										<b>Favorite Science Experiment:</b> Elephant Toothpaste with Hydrogen Peroxide! <br/>
										<b>Fun Fact:</b> You and I add up better than a Riemann Sum ;)  <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Kelvin Lu</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/kelvin.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-2: EECS <br/>
										<b>Year:</b> Class of 2019 <br/>
										<b>Position:</b> Director <br/>
										<b>Hobbies: </b> Baking pastries, Reading, Dancing (K-Pop!), Contributing to the Online Discourse <br/>
										<b>Favorite Science Experiment:</b> Magnifying glass on a hot, dry summer day to burn leaves!  <br/>
										<b>Fun Fact:</b> I met a girl named Joule before! Lots of energy.  <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Addie Oh</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/addie.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-3: Computer Science<br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, Publicity, Online Prescence <br/>
										<b>Hobbies: </b> Drawing, Napping, Blasting podcasts in the shower <br/>
										<b>Favorite Science Experiment:</b> Supersaturated solution crystal towers!<br/>
										<b>Fun Fact:</b> There is no limit to the number of tangerines I can eat in one sitting. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Aman Patel</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7: CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, EHS Chair, Publicity <br/>
										<b>Hobbies: </b> Playing tennis, Watching sports, Reading, Learning new things <br/>
										<b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
										<b>Fun Fact:</b> I don’t like chocolate, but I love asparagus! <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Andy Tsai</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/andy.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-3: Computer Science    <br/>
										<b>Year:</b> Class of 2019 <br/>
										<b>Position:</b> Board member, Publicity, Online Prescence <br/>
										<b>Hobbies: </b> idk lol Tinder I guess <br/>
										<b>Favorite Science Experiment:</b> Andy pls <br/>
										<b>Fun Fact:</b> fill out this yoself <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Angel Huang</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/angel.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 20: Bioengineering<br/>
										<b>Year:</b> Class of 2021 <br/>
										<b>Position:</b> Board member, Student Outreach, Finance <br/>
										<b>Hobbies: </b> Tennis, Movies, Photography  <br/>
										<b>Favorite Science Experiment:</b> Bouncy egg experiment!<br/>
										<b>Fun Fact:</b> I have 5 different shades of tan. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Carolyn Jons</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/carolyn.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 3: Material Science<br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, Finance <br/>
										<b>Hobbies: </b> Unicycling, Running, Art, Violin, Cooking, Baking <br/>
										<b>Favorite Science Experiment:</b> Glowing Pickle!<br/>
										<b>Fun Fact:</b> I won the Iowa State Fair grape stomping competition. The prize was an expensive bottle of wine they couldn't legally give me. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Chiaki Kirby</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/chiaki.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 2: Mechanical Engineering   <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, Mentor Relations <br/>
										<b>Hobbies: </b> Food, Art, Spending time with friends and family, Superhero movies  <br/>
										<b>Favorite Science Experiment:</b> Trashcan Smoke Rings!<br/>
										<b>Fun Fact:</b> I lived in Japan for 7 years and have dual citizenship here and there.<br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Julia Cho</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/julia.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 7: Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, Mentor Relations <br/>
										<b>Hobbies: </b> Sailing team, Running, Traveling <br/>
										<b>Favorite Science Experiment:</b> Strawberry DNA extraction!<br/>
										<b>Fun Fact:</b> I was born with two heart defects and had surgery when I was 2 months old.<br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Meghana Kamineni</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/meghana.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7 – CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2021 <br/>
										<b>Position:</b> Board member, Student Outreach <br/>
										<b>Hobbies: </b> Exploring the city, Trying to cook new things, Hanging out with friends <br/>
										<b>Favorite Science Experiment:</b> The classic – rubbing a balloon against your hair to make static electricity!<br/>
										<b>Fun Fact:</b> I can usually wake up from naps after twenty minutes without an alarm clock. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Nathan Liang </h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 20: Bioengineering <br/>
										<b>Year:</b> Class of 2021 <br/>
										<b>Position:</b> Board member, Mentor Relations <br/>
										<b>Hobbies: </b> Video games, Drawing, Designing, Sleeping   <br/>
										<b>Favorite Science Experiment:</b> Literally anything by Mark Rober!<br/>
										<b>Fun Fact:</b> Transgender male; shares birthday with little sister and father. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Aman Patel</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7: CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, EHS Chair, Publicity <br/>
										<b>Hobbies: </b> Playing tennis, Watching sports, Reading, Learning new things <br/>
										<b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
										<b>Fun Fact:</b> I don’t like chocolate. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Aman Patel</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7: CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, EHS Chair, Publicity <br/>
										<b>Hobbies: </b> Playing tennis, Watching sports, Reading, Learning new things <br/>
										<b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
										<b>Fun Fact:</b> I don’t like chocolate. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Aman Patel</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7: CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, EHS Chair, Publicity <br/>
										<b>Hobbies: </b> Playing tennis, Watching sports, Reading, Learning new things <br/>
										<b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
										<b>Fun Fact:</b> I don’t like chocolate. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Aman Patel</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7: CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, EHS Chair, Publicity <br/>
										<b>Hobbies: </b> Playing tennis, Watching sports, Reading, Learning new things <br/>
										<b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
										<b>Fun Fact:</b> I don’t like chocolate. <br/>
									</p>
								</article>
								<article>
									<header>
										<h2>Aman Patel</h2>
									</header>
									<a class="image fit"><img src="{{url_for('static', filename='images/aman.jpg')}}" alt="" /></a>
									<p>
										<b>Major:</b> Course 6-7 – CS and Molecular Biology  <br/>
										<b>Year:</b> Class of 2020 <br/>
										<b>Position:</b> Board member, EHS Chair, Publicity <br/>
										<b>Hobbies: </b> Playing tennis, Watching sports, Reading, Learning new things <br/>
										<b>Favorite Science Experiment:</b> Pure carbon from sugar and sulfuric acid!<br/>
										<b>Fun Fact:</b> I don’t like chocolate. <br/>
									</p>
								</article>


							</section>

						<!-- Footer -->
							<!--footer>
								<div class="pagination">
									<a  class="previous">Prev</a>
									<a  class="page active">1</a>
									<a  class="page">2</a>
									<a  class="page">3</a>
									<span class="extra">&hellip;</span>
									<a  class="page">8</a>
									<a  class="page">9</a>
									<a  class="page">10</a>
									<a  class="next">Next</a>
								</div>
							</footer-->

					</div>
{% endblock %}
