{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Help Us Make a Difference</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li class="active"><a href="{{ url_for('elements')  }}">Donate</a></li>
							
							<li><a href="{{ url_for('apply')  }}">Apply</a></li>
						</ul>
						<ul class="icons">
							<!--li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li-->
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<!--li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li-->
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Hello There!</h1>
								</header>

								<!-- Text stuff -->
									<p>We love doing what we do, but unfortunately we're often limited by our budget. If you would like to see this program expand, so that we can continue to help kids discover STEM, any amount of donation would mean the world to us. Click here to donate. Below, you can see the very experiments/lessons your money will be used for. 
									<hr />

								<!-- Form -->
									<h2>Form</h2>

									<form method="post" action="#" class="alt">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
											</div>
											<!-- Break -->
											<div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="">- Category -</option>
														<option value="1">Manufacturing</option>
														<option value="1">Shipping</option>
														<option value="1">Administration</option>
														<option value="1">Human Resources</option>
													</select>
												</div>
											</div>
											<!-- Break -->
											<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-normal" name="demo-priority">
												<label for="demo-priority-normal">Normal</label>
											</div>
											<div class="4u$ 12u$(small)">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<!-- Break -->
											<div class="6u 12u$(small)">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="6u$ 12u$(small)">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">I am a human</label>
											</div>
											<!-- Break -->
											<div class="12u$">
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Send Message" class="special" /></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>

									<hr />

								<!-- Image -->
									

								<!-- Preformatted Code -->

							</section>

					</div>

{% endblock %}