{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a  class="logo">Help Us Make a Difference</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li class="active"><a href="{{ url_for('elements')  }}">Donate</a></li>
							
							<li><a href="{{ url_for('apply')  }}">Apply</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Help Us Out</h1>
								</header>

								<!-- Text stuff -->
									<p>As a student-run organization that aims to keep the cost of dynaMIT completely free, we are often limited by our small budget. If you would like to see this program expand so that we can continue to expose students to STEM, any amount of a donation would mean the world to us. Click here to donate.  
									<hr />
									<h2>Our donation form will be up soon, stay tuned!</h2>

								<!-- Image -->
									

								<!-- Preformatted Code -->

							</section>

					</div>

{% endblock %}
