{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Bring DynaMIT to Your School!</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li><a href="{{ url_for('elements')  }}">Donate</a></li>
							<li><a href="{{ url_for('apply')  }}">Apply</a></li>
						</ul>
						<ul class="icons">
							<!--li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li-->
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<!--li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li-->
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Taste of DynaMIT</h1>
								</header>

								<!-- Text stuff -->
									<p>We visit classrooms, parent nights and science festivals in the Boston and Cambridge area, bringing with us fun activities as well as pamphlets and flyers for this free science program. These outreach sessions are filled with exciting hands on science experiments that we do right in the classroom, as well as information about the program and how to apply.

If you are interested in having DynaMIT come to your school or have any questions, comments, or suggestions, please contact us at dynamit-school-visits@mit.edu.

We look forward to hearing from you!

								<!-- Image -->
									

								<!-- Preformatted Code -->

							</section>

					</div>

{% endblock %}