{% extends "layout.html" %}
{% block body %}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">A Day at Camp</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('about')  }}">About</a></li>
							<li><a href="{{  url_for('generic')  }}">Board</a></li>
							<li><a href="{{ url_for('elements')  }}">Donate</a></li>
							<li><a href="{{ url_for('apply')  }}">Apply</a></li>
						</ul>
						<ul class="icons">
							<!--li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li-->
							<li><a href="https://www.facebook.com/dynamitnonprofit/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<!--li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li-->
							<li><a href="https://github.com/MIT-dynaMIT" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Time For Camp!</h1>
								</header>

								<!-- Text stuff -->
									<p>A typical day at dynaMIT begins with fun ice-breaker games to get to know everyone and get the laughter going! This is followed by short presentations that introduce the day's concepts. Afterwards, students and mentors work in groups on activities throughout the day, which are shorter experiments, and challenges that often require building and teamwork. Each day's activities usually revolve around a single topic area in STEM. Topics taught vary from year to year but some past examples include: the science behind the five senses, polymers and materials, and energy.

									On Lab Day, 8th-9th grade students have the opportunity to receive full access to an MIT laboratory. Donning their own lab coats, students have dissected sheep brains, extracted the DNA from strawberries, and made a non-Newtonian fluid!

									At MIT, we work hard and play hard. Break time is often a favorite for both students and mentors alike. Together they relax under the sun and play games such as tag or baseball in the quads near the iconic Stata Center.

								<!-- Image -->
									

								<!-- Preformatted Code -->

							</section>

					</div>

{% endblock %}